<header class="flex flex-wrap align-items-center justify-content-between h-4rem">
    <div class="pl-3">
        <span class="pi pi-car text-3xl"></span>
        <span class="pl-2 text-3xl font-bold">Controle de Frota</span>
    </div>
    <p-button class="pr-3"(click)="showConfirm()" [rounded]="true" severity="info" icon="pi pi-info" title="Sobre o projeto"></p-button>
</header>

<div class="card flex justify-content-center">
    <p-toast position="bottom-center" key="confirm" (onClose)="onClose()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="headless" let-closeFn="closeFn">
        <section class="flex p-3 gap-3 w-full bg-black-alpha-90 shadow-2" style="border-radius: 10px">
            <i class="pi pi-info-circle text-primary-500 text-2xl"></i>
            <div class="flex flex-column gap-3 w-full">
                <p class="m-0 font-semibold text-base text-white">{{ message.summary }}</p>
                <p class="m-0 text-base text-gray-50">{{ message.detail }}</p>
                <div class="flex gap-3 mb-3">                    
                    <p-button label="Fechar" [text]="true" styleClass="text-red-500 p-0" (click)="closeFn($event)"></p-button>
                </div>
            </div>
        </section>
    </ng-template>
    </p-toast>
    
</div>